POSTGRES_USER=crownland
POSTGRES_PASSWORD=crownland
POSTGRES_DB=crownland_db

# External API Configuration
API_URL=http://localhost:8000
NEXT_PUBLIC_API_URL=http://localhost:8000

# Redis Config
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Mapbox
NEXT_PUBLIC_MAPBOX_TOKEN=your_mapbox_token_here
